<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://img.faithxy.com/faitht.ico" type="image/x-icon"/>
    <title>使用帮助</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://img.faithxy.com/start/src/layui-v2.8.11/css/layui.css">
    <style>
        * {
            font-family: "苹方";
        }

        body {
            background-color: rgb(237, 237, 237);
            color: #666666;
        }

        .home {
            width: 95%;
            max-width: 800px;
            min-height: 300px;
            display: block;
            margin: 15px auto;
        }

        .kui {
            padding: 10px;
            border-radius: 15px;
            margin-bottom: 15px;
            font-size: 16px;
            color: #3e4449;
            background-color: #FFFFFFFF;
        }

        a {
            text-decoration: none; /* 去除默认的下划线 */
            outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
            color: #5094d5; /* 去除默认的颜色和点击后变化的颜色 */
        }

        p {
            margin: 10px 2px;
            font-size: 16px;
            line-height: 24px;
        }

        .collapseContent {
            margin-left: 20px;
            font-size: 14px;
        }

        .app {
            display: inline-block;
            width: 25%;
        }

        .app-title {
            text-align: center;
            margin: 8px auto;
            color: black;
            font-size: 14px;
            font-weight: 500;
        }

        .app-img {
            width: 40%;
            max-width: 100px;
            border: 1px solid #FFFFFFFF;
            border-radius: 10px;
            clear: both;
            display: block;
            margin: auto;
        }

        .zepp {
            background-color: #f9f2f4;
            color: #c7254e;
            padding: 0px 10px;
            border-radius: 5px;
        }

        .color-222 {
            color: #222222;
        }

    </style>
</head>
<body>

<div class="home">

    <div class="kui" style="display: none;">
        <div style="margin: 0; font-size: 0; padding-top: 15px;">
            <div class="app" onclick="window.open('https://motion.faithxy.com/');">
                <img src="https://img.faithxy.com/motion/step_tutorial_image/paobu.png" class="app-img">
                <p class="app-title">装逼神器</p>
            </div>

            <div class="app" onclick="window.open('https://motion.faithxy.com/motion/user/myVip.html');">
                <img src="https://img.faithxy.com/motion/step_tutorial_image/zidongban.svg" class="app-img">
                <p class="app-title"></p>
            </div>

        </div>
    </div>

    <div class="kui" style="padding: 5px 20px">

        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this" style="font-size: 16px;">使用教程</li>
                <li style="font-size: 16px;">图片教程</li>
                <li style="font-size: 16px;">常见问题</li>
            </ul>
            <div class="layui-tab-content">
                <!-- 使用帮助 -->
                <div class="layui-tab-item layui-show">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <div class="layui-colla-title" style="font-size: 16px;">1. 注册账号</div>
                            <div class="layui-colla-content collapseContent ">
                                <p>应用商店下载 <span class="zepp">zepp</span></p>
                                <img src="https://img.faithxy.com/motion/zepp/zepp.jpg" style="max-width: 300px;">
                                <p class="color-222">打开软件注册账号并登录</p>
                                <p>不要用小米账号登录</p>
                                <p>不要用第三方登录</p>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <div class="layui-colla-title" style="font-size: 16px;">2. 第三方接入绑定</div>
                            <div class="layui-colla-content collapseContent ">
                                <p>进入 <span class="zepp">zepp</span> APP</p>
                                <p>找到 <span class="zepp">我的</span> > <span class="zepp">第三方接入</span></p>
                                <p>选择 微信/支付宝 根据提示完成绑定</p>
                                <p>一个zepp 账号只能绑定一个 微信/支付宝</p>
                                <img src="https://img.faithxy.com/motion/jiaocheng1/jiaocheng11.png"
                                     style="width: 90%;max-width: 300px;">
                                <br><br>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <div class="layui-colla-title" style="font-size: 16px;">3. 修改步数</div>
                            <div class="layui-colla-content collapseContent">
                                <p><a href="https://zouyx.vercel.app/">打开网站</a></p>
                                <p>输入zepp账号密码</p>
                                <p>填写要修改的步数 点击 开始装逼</p>
                            </div>
                        </div>
                    </div>
                    <p style="margin-left: 10px; color: #7d7d7d; font-size: 14px;">
                        注：如果有多个账号需要修改，就注册多个zepp账号(反正邮箱可以瞎JB填)，一对一绑定修改</p>
                </div>
                <!-- 使用帮助 end -->

                <!-- 图片教程 -->
                <div class="layui-tab-item ">
                    <div class="layui-carousel" id="ID-carousel-demo-1">
                        <div carousel-item>
                            <div><img src="https://img.faithxy.com/motion/zepp/1.jpg" style="width: 100%"></div>
                            <div><img src="https://img.faithxy.com/motion/zepp/2.jpg" style="width: 100%"></div>
                            <div><img src="https://img.faithxy.com/motion/zepp/3.jpg" style="width: 100%"></div>
                            <div><img src="https://img.faithxy.com/motion/zepp/4.jpg" style="width: 100%"></div>
                            <div><img src="https://img.faithxy.com/motion/zepp/5.jpg" style="width: 100%"></div>
                            <div><img src="https://img.faithxy.com/motion/zepp/6.jpg" style="width: 100%"></div>
                            <div><img src="https://img.faithxy.com/motion/zepp/7.jpg" style="width: 100%"></div>
                        </div>
                    </div>
                    <p style="margin-left: 10px; color: #7d7d7d; font-size: 14px;">
                        注：如果有多个账号需要修改，就注册多个zepp账号(反正邮箱可以瞎JB填)，一对一绑定修改</p>
                </div>
                <!-- 图片教程 end -->

                <!-- 常见问题 -->
                <div class="layui-tab-item">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-collapse" lay-accordion>
                            <p style="padding: 0px 20px;line-height: 32px;">
                                最近部分账号同步有延迟，改完过半小时看看有没有同步。没有同步就在改一次，大于上次改的，过五分钟看看，应该就同步了。只能改高不能改低，建议不超过两万
                            </p>
                            <div class="layui-colla-item">
                                <div class="layui-colla-title" style="font-size: 16px;">支付宝不同步</div>
                                <div class="layui-colla-content collapseContent">
                                    <p>方法1、在支付宝设置 > 隐私 > 个人授权管理 >
                                        取消对zepp的授权，然后新注册一个zepp账号绑定，改步（建议步数不超过3万）</p>
                                    <hr>
                                    <p>注：部分账号数据同步可能有延迟</p>
                                    <p>注：有时候自己看不到步数，让朋友或用小号看一下，不影响能量</p>
                                    <p>注：建议在上午9点-晚上23点间修改步数，其它时间段步数可能不同步</p>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <div class="layui-colla-title" style="font-size: 16px;">微信不同步</div>
                                <div class="layui-colla-content collapseContent">
                                    <p>方法1、检查是否取关 Amazfit跃我 公众号，取关后不能同步步数</p>
                                    <hr>
                                    <p>方法2、在Zepp软件中 我的 > 第三方接入 重新绑定微信（先取关Amazfit跃我
                                        公众号）在绑定</p>
                                    <hr>
                                    <p>方法3、先取关 Amazfit跃我 公众号，然后注册一个新的zepp账号绑定，修改即可</p>
                                    <hr>
                                    <p>注：显示 0 是进小黑屋了，七天后恢复正常</p>
                                    <p>注：建议在上午9点-晚上23点间修改步数，其它时间段步数可能不同步</p>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <div class="layui-colla-title" style="font-size: 16px;">微信步数显示0</div>
                                <div class="layui-colla-content collapseContent">
                                    <p>
                                        运动排行榜步数显示0，但是点进去有步数，是因为之前的步数被好友举报了，进小黑屋七天，七天后即可正常显示步数，提示：运动步数不用刷太高，建议三四万步即可</p>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <div class="layui-colla-title" style="font-size: 16px;">提示账号密码错误</div>
                                <div class="layui-colla-content collapseContent">
                                    <p>方法1：先登录zepp软件试试能不能登录，确保密码正确</p>
                                    <hr>
                                    <p>
                                        方法2：输入账号密码的时候检查下后面有没有空格，部分输入法会在输入邮箱后追加一个空格，删除它</p>
                                    <hr>
                                    <p>方法3：如果密码包含特殊符号可能会失败，建议改成只有字母和数字的密码</p>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <div class="layui-colla-title" style="font-size: 16px;">关闭微信运动</div>
                                <div class="layui-colla-content collapseContent">
                                    <p>打开微信运动</p>
                                    <p>点击右上角 设置按钮</p>
                                    <p>找到 隐私及提醒设置</p>
                                    <p>关闭 加入排行榜 按钮即可</p>
                                    <p>关闭后别人看不到你的运动步数</p>
                                </div>
                            </div>
                            <div class="layui-colla-item" style="font-size: 16px;">
                                <div class="layui-colla-title">运动封面</div>
                                <div class="layui-colla-content collapseContent">
                                    <p>敬请期待</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 常见问题 end -->
                </div>
            </div>
        </div>

    </div>

    <br><br><br>

</div>

<script src="https://img.faithxy.com/start/src/layui-v2.8.11/layui.js"></script>
<script>
    layui.use(function () {
        var carousel = layui.carousel;
        // 渲染 - 轮播 设置时间间隔、动画类型、宽高度等属性
        carousel.render({
            elem: '#ID-carousel-demo-1',
            autoplay: false,
            width: '300px',
            height: '649px'
        });
    });
</script>
</body>
</html>
