{
  "gpt": {
    "text_config": {
      "proxy_url": "",
      "auth_token": "openai token",
      "trigger_prefix": "嘎子"
    },
    "image_config": {
      "proxy_url": "",
      "auth_token": "openai token",
      "trigger_prefix": "二狗子"
    }
  },
    "context_status": true,
    "base_model": "gpt-3.5-turbo"
}