{
  "gpt": {
    "text_config": {
      "proxy_url": "",   # 代理地址，如果不配置，使用默认openai官方地址 https://api.openai.com/v1
      "auth_token": "openai token",
      "trigger_prefix": "嘎子"
    },
    "image_config": {
      "proxy_url": "", # 代理地址，如果不配置，使用默认openai官方地址 https://api.openai.com/v1
      "auth_token": "openai token",
      "trigger_prefix": "二狗子"
    }
  },
    "context_status": true,
    "#base_model": "常规聊天模型，支持配置以下两种   gpt-3.5-turbo    gpt-4-turbo-preview",
    "base_model": "gpt-3.5-turbo"
}