{
  "weather_config": {
    "users": [
    ],
    "spec": "0 0 8 1/1 * ?",
    "Desc": "每天早上八点执行"
  },
  "news_config": {
    "Users": [
    ],
    "Groups": [
    ],
    "spec": "0 0 8 1/1 * ?",
    "rss_source": "https://www.solidot.org/index.rss",
    "top_n": 10,
    "Desc": "每天早上八点执行"
  },
  "sport_config": {
    "users": [
    ],
    "spec": "0 30 19 1/1 * ?",
    "Desc": "每天晚上七点半执行"
  }
}
